.blog-title {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  margin: 10px 0;
}

.search-bar {
  height: 36px;
  width: 240px;
  padding: 0 6px;
  margin-top: 20px;
}

.blog-posts {
  background: var(--color-light-bg);
  padding-bottom: 40px;
}

.posts-title {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  padding: 20px 12px 10px 12px;
  margin: 0 auto;
}

.posts-container {
  max-width: 1000px;
  margin: 20px auto 40px auto;
  /* padding: 0 12px; */
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
}

.posts-wrapper {
  background: var(--color-white);
}

.posts-container a {
  color: var(--color-black);
}

.posts-wrapper {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  display: none;
}

.blog-posts .posts-container .posts-wrapper:nth-child(1),
.blog-posts .posts-container .posts-wrapper:nth-child(2),
.blog-posts .posts-container .posts-wrapper:nth-child(3),
.blog-posts .posts-container .posts-wrapper:nth-child(4),
.blog-posts .posts-container .posts-wrapper:nth-child(5),
.blog-posts .posts-container .posts-wrapper:nth-child(6),
.blog-posts .posts-container .posts-wrapper:nth-child(7),
.blog-posts .posts-container .posts-wrapper:nth-child(8),
.blog-posts .posts-container .posts-wrapper:nth-child(9),
.blog-posts .posts-container .posts-wrapper:nth-child(10) {
  display: flex;
}

.posts {
  display: flex;
  flex-direction: column;
}

.posts-img {
  height: 200px;
  overflow: hidden;
}

/* .posts-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

.posts:hover img {
  transform: scale(1.02);
}

.posts-details {
  padding: 10px;
}

.posts-details h3 {
  margin: 12px 0;
}

.posts-details h2 {
  font-size: 16px;
  font-weight: 300;
}

.posts-details p {
  display: none;
}

.posts-more {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  gap: 20px;
}

.show-more {
  width: 50%;
  margin: 0 auto;
}

.show-more:hover {
  background-color: #08391d;
  transition: 0.4s;
}

/* specific post */
/* .content-container {
  max-width: 1000px;
  margin: 0 auto;
} */

.blog-top .blog-top-specific {
  margin: 40px 0;
}

.blog-post-date {
  margin: 20px 0;
}

/* .popup {
  display: none;
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup-image {
  max-width: 90%;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border: 2px solid var(--color-white);
}

.blog-post-img {
  cursor: pointer;
}

.blog-post-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}

.blog-post-content h2 {
  margin: 30px 0;
}

.blog-post-content p {
  margin-bottom: 40px;
} */
.none {
  display: none;
}
