main {
  margin-bottom: 100px;
}

.blog-title h2 {
  margin-top: 20px;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 12px;
}

.form-wrapper label {
  font-weight: 300;
}

.form-wrapper {
  margin-bottom: 20px;
}

.form-wrapper input,
textarea {
  display: block;
  height: 36px;
  width: 90%;
  padding: 8px;
  border: 1px solid var(--color-darker-bg);
  margin: 4px 0;
}

textarea {
  height: 100px;
}

.form-error {
  display: none;
  color: var(--color-error);
  font-size: 14px;
}

.form-btn {
  width: 90%;
  margin: 20px 0;
}

.form-btn:hover {
  background-color: #08391d;
  transition: 0.4s;
}

.success {
  width: 90%;
  background-color: var(--color-light-bg);
  padding: 40px 12px;
  text-align: center;
}
