main {
  margin-bottom: 100px;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 12px;
}

.form-wrapper label {
  font-weight: 300;
}

.form-wrapper {
  margin-bottom: 20px;
}

.form-wrapper input {
  display: block;
  height: 36px;
  width: 90%;
  padding: 8px;
  border: 1px solid var(--color-darker-bg);
  margin: 4px 0;
}

.form-wrapper-mess input {
  height: 100px;
}

.form-error {
  display: none;
  color: var(--color-error);
  font-size: 14px;
}

.form-btn {
  width: 90%;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  height: 42px;
  text-transform: uppercase;
  font-size: 18px;
  margin: 20px 0;
}

.form-btn:hover {
  cursor: pointer;
}

.success {
  width: 90%;
  background-color: var(--color-light-bg);
  padding: 40px 12px;
  text-align: center;
}
