.hero-img {
  height: 40vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.hero-content h1 {
  font-family: "Rokkitt", serif;
  font-size: 42px;
}

.hero-content h2 {
  font-size: 24px;
}

.hero-content {
  /* position: absolute;
    top: 20%;
    left: 20%; */
  color: var(--color-white);
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
