@media (min-width: 500px) {
  .carro {
    flex: 1 0 50%;
  }
  .blog-title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .search-bar {
    margin-top: 0;
  }
  .popup-image {
    height: 300px;
  }
}

@media (min-width: 600px) {
  .posts-container {
    padding: 0 12px;
  }
  .posts {
    flex-direction: row;
    gap: 30px;
  }
  .posts-details {
    width: 416px;
  }
  .blog-title {
    justify-content: start;
  }
  .blog-search {
    margin: 0 auto;
  }
  .posts-img {
    height: 250px;
  }
  .popup-image {
    height: 350px;
  }
}

@media (min-width: 700px) {
  .nav-logo {
    min-width: 200px;
  }
  nav {
    display: flex;
    position: static;
    text-align: right;
  }
  header {
    justify-content: space-around;
    align-items: center;
  }
  header label {
    display: none;
  }
  nav li {
    display: inline-block;
    padding: 0 20px;
  }
  ul {
    background-color: inherit;
  }
}

@media (min-width: 850px) {
  .carro-bg {
    padding: 100px 0;
  }
  .carro {
    flex: 1 0 32%;
  }
  .posts-wrapper {
    width: 100%;
  }
  .posts-img {
    height: 300px;
  }
  .posts-details {
    width: 546px;
  }
  .popup-image {
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .posts-carousel {
    margin: 0 auto;
  }
}
