@media (min-width: 500px) {
  .blog-title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .search-bar {
    margin-top: 0;
  }
  .popup-image {
    height: 300px;
  }
}

@media (min-width: 600px) {
  .posts-container {
    padding: 0 12px;
  }
  .posts {
    flex-direction: row;
    gap: 30px;
  }
  .posts-details {
    width: 416px;
  }
  .blog-title {
    justify-content: start;
  }
  .blog-search {
    margin: 0 auto;
  }
  .posts-img {
    height: 250px;
  }
  .popup-image {
    height: 350px;
  }
}

@media (min-width: 700px) {
  .nav-logo {
    min-width: 200px;
  }
  nav {
    display: flex;
    position: static;
    text-align: right;
  }
  header {
    justify-content: space-around;
    align-items: center;
  }
  header label {
    display: none;
  }
  nav li {
    display: inline-block;
    padding: 0 20px;
  }
  ul {
    background-color: inherit;
  }

  /* .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--color-primary);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  } */
}

@media (min-width: 850px) {
  .posts-wrapper {
    width: 100%;
  }
  .posts-img {
    height: 300px;
  }
  .posts-details {
    width: 546px;
  }
  .popup-image {
    height: 400px;
  }
}
