/* new css navbar */

header {
  background: var(--color-primary);
  box-shadow: 1px 1px 5px 0px var(--color-darker-bg);
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  padding: 0 12px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

ul {
  list-style: none;
}

#ham-menu {
  display: none;
}

.fas.fa-bars {
  font-size: 1.9em;
  color: var(--color-white);
  padding: 0 5px 0 5px;
  cursor: pointer;
  transition: 0.4s ease;
}

#ham-menu:checked ~ nav {
  display: block;
}

nav {
  display: none;
  position: absolute;
  top: 60px;
  right: 0px;
  width: 100%;
}

nav li {
  display: block;
  padding: 20px 30px;
  text-align: center;
}

nav a:hover {
  text-decoration: underline;
}

ul {
  background-color: var(--color-primary);
  width: 100%;
}

/* going to styles when done */

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 25px 20px;
}

.container .heading {
  font-size: 40px;
  margin-bottom: 20px;
  color: #334;
}

.container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  /* grid-template-columns: repeat(5, 1fr); */
  gap: 20px;
}

.container .box-container .box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2),
.container .box-container .box:nth-child(3),
.container .box-container .box:nth-child(4),
.container .box-container .box:nth-child(5),
.container .box-container .box:nth-child(6),
.container .box-container .box:nth-child(7),
.container .box-container .box:nth-child(8),
.container .box-container .box:nth-child(9),
.container .box-container .box:nth-child(10) {
  display: inline-block;
}

/* .box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9),
.box:nth-child(10) {
  display: inline-block;
} */

.container .box-container .box .image {
  margin-bottom: 20px;
  overflow: hidden;
  height: 250px;
  border-radius: 5px;
}

.container .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container .box-container .box:hover .image img {
  transform: scale(1.1);
}

.container .box-container .box .content h3 {
  font-size: 20px;
  color: #334;
}

.container .box-container .box .content p {
  font-size: 15px;
  color: #777;
  line-height: 2;
  padding: 15px 0;
}

.container .box-container .box .content .btn {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #334;
  color: #334;
  font-size: 16px;
}

.container .box-container .box .content .btn:hover {
  background-color: crimson;
  border-color: crimson;
  color: #fff;
}

.container .box-container .box .content .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #334;
}

.container .box-container .box .content .icons span {
  font-size: 14px;
  color: #777;
}

.container .box-container .box .content .icons span i {
  color: crimson;
  padding-right: 5px;
}

#load-more {
  margin-top: 20px;
  display: inline-block;
  padding: 13px 30px;
  border: 1px solid #334;
  color: #334;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

#load-more:hover {
  background-color: crimson;
  border-color: crimson;
  color: #fff;
}

/* working on the carousel baby */
.carro-bg {
  background-color: var(--color-light-bg);
  padding: 100px 0;
  /* overflow: hidden;
  position: relative; */
}

.posts-carousel {
  /* width: 100%; */
  overflow: hidden;
  scroll-behavior: smooth;
  max-width: 1000px;
  margin: 0 auto;
}

.posts-carousel h2 {
  margin-bottom: 30px;
  padding-left: 12px;
}

.carro-container {
  /* display: flex;
  justify-content: space-evenly; */
  height: calc(100vh - 2rem);
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
}

.carro {
  /* max-width: 313px;
  margin: 10px;
  text-align: center;
  background-color: var(--color-white); */
  width: 100%;

  height: 100%;

  flex: 1 0 100%;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
}
/* 
.carro h3 {
  font-size: 18px;
  color: var(--color-black);
  margin: 16px 0;
}

.carro-img {
  height: 300px;
  overflow: hidden;
}

.carro-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.carro:hover img {
  transform: scale(1.02);
}

/* .prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.prev-btn {
  left: 0;
}
.next-btn {
  right: 0;
} */

.slide-btn {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 50px;
  background-color: inherit;
  font-size: 50px;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 100ms;
}

.slide-btn:hover,
.slide-btn:focus {
  opacity: 1;
}

#prev-btn {
  left: 0;
  margin-left: 12px;
}

#next-btn {
  right: 0;
  margin-right: 12px;
}

/* try */
